.container-result {
  position: absolute;
  width: 100vw;
  height: 100vh;
  // background-color: gray;
  top:0;
  bottom: 0;

  display: flex;
  justify-content: space-around;

  canvas {
    height: 100%;
    width: auto;
  }
}

.container-live {
  // display: none;

  position: absolute;
  max-height: 20vh;
  bottom: 0;
  left: 0;


  video {
    max-height: 20vh;
  }
}

.container-grid {
  // display: none;
  position: absolute;
  width: 50vh;
  height: 50vh;
  top: 0;
  right: 0;

  canvas {
    max-height: 20vh;
  }

}

.container-values {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: white;

  .label {
    display: flex;
    flex-direction: row;

    .label-1 {
      min-width: 4.5em;
    }
    .label-2 {
      min-width: 1.5em;
    }
    .value {
      min-width: 3em;
      text-align: right;
    }
  }
}
.green{
  background-color: greenyellow;
} 